.data-container{
  display: flex;
  justify-content: center;
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
